.footer-logo__link {
  display: inline-block;
}

.web,
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.9;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.9;
  }
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--dark-bg-text-color);
}

.address {
  font-style: normal;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);

  &--color {
    color: rgba(255, 255, 255, 0.6);
  }
}
