.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--accent-color);
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--dark-bg-text-color);
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);

  &--color {
    color: rgba(255, 255, 255, 0.6);
  }
}
