// .clients-icons {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   &__item + &__item {
//     margin-left: 30px;
//   }
// }
.clients-icons__item {
  --grid-item: 2;

  @media screen and (min-width: 767.98px) {
    --grid-item: 3;
  }
  @media screen and (min-width: 1199.98px) {
    --grid-item: 6;
  }
}

.clients-icons__icon {
  transition: fill var(--animation);

  .clients-icons__link:hover &,
  .clients-icons__link:focus & {
    fill: var(--accent-color);
  }
}

.clients-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition: border var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
