.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--icons-color);

  transition: fill var(--animation);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
