.logo__link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 26px;

  // font-family: "Raleway";
  // font-style: normal;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // color: var(--accent-color);
}

.logo__item {
  // padding-top: 24px;
  // padding-bottom: 26px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &--first {
    color: var(--accent-color);
  }
  &--second {
    // padding-top: 24px;
    // padding-bottom: 26px;

    // font-family: "Raleway";
    // font-style: normal;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    margin-right: 90px;
    color: var(--title-color);
  }
}
