.menu-btn {
  z-index: 50;
  min-width: 40px;
  min-height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: var(--title-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 767.98px) {
    display: none;
  }
}

.menu-btn:hover,
.menu-btn:focus {
  fill: var(--accent-color);
}

.icon-menu-close {
  display: none;
}

.is-open {
  .icon-menu-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 45;
  width: 100%;
  //   max-width: 480px;
  height: 100vh;
  padding: 70px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transition: top var(--animation);

  &.is-open {
    top: 0;
  }

  @media screen and (min-width: 380px) {
    padding: 50px 40px;
  }

  @media screen and (min-width: 767.98px) {
    display: none;
  }
}

.mob-menu__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);

  @media screen and (min-width: 380px) {
    font-size: 40px;
  }
}

.mob-menu__item:hover .mob-menu__link,
.mob-menu__item:focus .mob-menu__link {
  color: var(--accent-color);
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 25px;

  @media screen and (min-width: 380px) {
    margin-bottom: 32px;
  }
}

.mob-contacts__link--tel {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 380px) {
    font-size: 34px;
  }
}

.mob-contacts__link--mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;

  @media screen and (min-width: 380px) {
    font-size: 24px;
  }
}

.mob-contacts__item:first-child {
  margin-bottom: 25px;

  @media screen and (min-width: 380px) {
    margin-bottom: 32px;
  }
}
.mob-contacts__item:nth-child(2) {
  margin-bottom: 50px;

  @media screen and (min-width: 380px) {
    margin-bottom: 64px;
  }
}

.mob-socials__list {
  display: inline-flex;
  align-items: center;
}

.mob-socials__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 380px) {
    font-size: 18px;
  }
}

.mob-socials__item:not(:last-child)::after {
  content: " ";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 4px;
  margin-left: 4px;

  @media screen and (min-width: 380px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
