.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.container__one,
.container__two {
  // margin-right: 30px;
  // flex-basis: calc((50% - 45px)) / 2;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    flex-basis: calc((50% - 45px) / 2);
    margin-bottom: 0;
    text-align: left;
  }
}

.container__three {
  // flex-basis: calc(50% - 15px);
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 15px);
    text-align: left;
  }
}
