.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.container__one,
.container__two {
  margin-right: 30px;
  flex-basis: calc((50% - 45px) / 2);
}

.container__three {
  flex-basis: calc(50% - 15px);
}
