.header {
  border-bottom: #ececec solid 1px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .header__container .container {
//   margin-left: 0;
// }
